<h1><%= @user.username %></h1>

<div>
<%= link_to "Create New Event", new_event_path %>
</div>

<% if @upcoming_events.any? %>
<h2>Upcoming</h2>
<%= render 'shared/table', object: @upcoming_events %>
<% end %>

<% if @previous_events.any? %>
<h2>Attended</h2>
<%= render 'shared/table', object: @previous_events %>
<% end %>

<% if @user.events.any? %>
<h2>My Events</h2>
<%= render 'shared/table', object: @user.events %>
<% end %>