<%= render 'video_header' %>

<div class="container home-page">
    <div class="page-header">
      <h1>Welcome back, <%= @user.first_name.capitalize %></h1>
    </div>

  <div>
  <%= link_to "Host a Potluck", new_event_path, class: "btn btn-primary btn-lg " %>
  </div>

  <% if @upcoming_events.any? %>
  <h2>Upcoming</h2>
  <%= render 'shared/table', object: @upcoming_events %>
  <% end %>

  <% if @previous_events.any? %>
  <h2>Attended</h2>
  <%= render 'shared/table', object: @previous_events %>
  <% end %>

  <% if @user.events.any? %>
  <h2>My Events</h2>
  <%= render 'shared/table', object: @user.events %>
  <% end %>

</div>