<div class="container">
  <div class="jumbotron register">
    <h1 class="uppercase-spaced">Login</h1>

<div class="form-input">

<%= bootstrap_form_for :session, url: {action: "create"} do |f| %>

    <%= f.text_field :username %>

    <%= f.password_field :password %>

  <% if @errors %>
      <h5><%= @errors.first %></h5>
  <% end %>


    <%= f.submit "Login", class: "btn btn-lg btn-primary" %>

<% end %>
</div>

</div>
</div>