<div class="container">
  <div class="jumbotron register">
    <h1 class="uppercase-spaced">Sign up</h1>

<div class="form-input">
<%= bootstrap_form_for @user do |f| %>


  <%= f.text_field :username %>


  <%= f.text_field :email %>


  <%= f.password_field :password %>
  <br><br>

  <%= f.text_field :first_name %>


  <%= f.text_field :last_name %>

  <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |msg| %>
      <h5><%= msg %></h5>
  <% end %>
<% end %>

  <%= f.submit "Register", class: "btn btn-lg btn-primary" %>


<% end %>
</div>

</div>
</div>