<table class="table table-condensed">
  <thead>
    <tr>
      <td>Date</td>
      <td>Title</td>
      <td>Location</td>
      <td>Host</td>
      <td>Guests</td>
    </tr>
  </thead>

  <% object.each do |event| %>
  <tr>
    <td><%= long_form_date(event.date) %></td>
    <td><%= link_to event.title, event_path(event) %></td>
    <td><%= event.location %></td>
    <td><%= link_to event.host.first_name, user_path(event.host) %></td>
    <td><%= link_to event.attendees.count, event_path(event) %></td>
  </tr>
  <% end %>
</table>