<h1><%= @event.title %></h1>


<% if logged_in? %>
<div><%= render 'attend_form' %></div>
<% end %>

<% if current_user.attending?(@event) && upcoming?(@event) %>
<div><%= link_to "Bring an Item", new_event_item_path(@event) %></div>
<% end %>


<p><b>Location: </b><%= @event.location %></p>
<p><b>Host: </b><%= @event.host.username %></p>

<p><%= @event.description %></p>

</br>

<b>Who's Going:</b>

<ol>
<% @event.attendees.each do |attendee| %>
   <li><%= link_to attendee.username, attendee %></li>

<% end %>
</ol>

<b>What's Everyone Bringing:</b>

<ul>
  <% @event.items.each do |item| %>
  <li><%= link_to item.user.username, user_path(item.user) %> is bringing <%= item.name %></li>
  <% end %>
</ul>