<div class="container">
  <div class="jumbotron">
    <h1>Bring an Item</h1>

   <div class="form-input">
<%= bootstrap_form_for [@event, @item] do |f| %>

<% if @item.errors.any? %>
    <p><%=pluralize(@item.errors.count, "error") %> prevented this item from saving.</p>

    <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>

  <%end%>
  <p>
    <label for="name">What do you want to bring?</label>
    <%=f.text_field :name, hide_label: true %>
  </p>

    <%=f.hidden_field :event_id, :value => @event.id %><br>
    <%=f.hidden_field :user_id, :value => current_user.id %><br>

   <p>
    <%=f.submit "Create Item", class: "btn btn-lg btn-primary" %>
  </p>
<% end %>

<%= link_to 'Back', event_path(@event), class: "btn btn-lg btn-primary" %>
</div>

</div>
</div>