<h1>Bring an Item</h1>
<%= form_for [@event, @item] do |f| %>

<% if @item.errors.any? %>
    <p><%=pluralize(@item.errors.count, "error") %> prevented this item from saving.</p>

    <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>

  <%end%>
  <p>
    <%=f.label :item %><br>
    <%=f.text_field :name %>
  </p>

  <p>
    <%=f.hidden_field :event_id, :value => @event.id %><br>
    <%=f.hidden_field :user_id, :value => current_user.id %><br>
  </p>

   <p>
    <%=f.submit "Create Item" %>
  </p>
<% end %>

<%= link_to 'back', event_path(@event) %>

