<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <%= link_to "Potluckr", root_path, class: "navbar-brand logo" %>

  <ul class="nav navbar-nav header">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Events", events_path %></li>
    <li><%= link_to "Users", users_path %></li>
    <li><%= link_to "About", about_path %></li>
  </ul>

  <% if logged_in? %>
    <ul class="nav navbar-nav navbar-right header">
      <li><%= link_to "Profile", user_path(current_user) %></li>
      <li><%= link_to "Log Out", logout_path, method: "delete" %></li>
    </ul>
 <% else %>
    <ul class="nav navbar-nav navbar-right header">
      <li><%= link_to "Register", new_user_path %></li>
      <li><%= link_to "Log In", login_path %></li>
    </ul>
  <% end %>
  </div>
</nav>